.btn-pastell {
    background-color: #fbfbfb;  
    color: #04060a;             /* Textfarbe */
    border: none;
}

.btn-pastell:hover {
    background-color: #a5a9a7; /* Farbe beim Hover */
}

.btn-pastell:active {
    background-color: #919694;  /* Farbe beim Klicken */
}

.btn-pastell:focus {
    box-shadow: none;           /* Focus-Ring aus */
}

.dandelion-img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    display: flex; 
    justify-content:center; 
    align-items: center;
}
.article-card {
    max-width: 400px;
    margin: 50px auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 15px;         
    box-shadow: 0 4px 10px rgba(0,0,0,0.15); 
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    overflow: hidden;            
    background-color: #fffaf5;  
}

.nettle-img {
       width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    display: flex; 
    justify-content:center; 
    align-items: center;
}

body {
  font-family: 'Poppins', sans-serif;
}
.article-img {
  width: 120px;
  height: 120px;
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  border: 4px solid white;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  object-fit: cover;
}


.article-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}

.article-section{
padding-top: 100px;

}


.hero {
  background-image: url("../images/herbs.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  height: 350px;
  display: flex;
  align-items: center;
  position: relative;
  color: white;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);  
  z-index: 1;
}

.hero * {
  position: relative;
  z-index: 2;
}

.navbar-nav {
  flex-direction: row !important;  
}

.navbar .nav-item {
  display: flex;
  align-items: center;
}

.navbar .nav-item + .nav-item {
  margin-left: 1rem;  
}

.intro-section p {
  max-width: 800px;
  margin: 0 auto;
  font-size: 1.1rem !important;
  color: #2f3e2f;
  line-height: 1.7;
  font-family: 'Poppins', sans-serif;
}

.plant-card .card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.about-section{
  width: 300px;       
  margin: 0 auto;    
  text-align: center;
}
.fa-brands {
  font-size: 50px;

}


