{% extends "layout.html" %}

{% block title %}FindPlants{% endblock %}

{% block content %}

<div class="about-section">
<i class="fa-brands fa-pagelines"></i>
<h3>What we do</h3>
<p>Nature offers so many edible and healing treasures — you just need to know where to look.
FindPlants is here to inspire curiosity and respect for the plants around us,
 combining practical knowledge with a love for the natural world. 🌿</p>
 <a href="mailto:findplants@example.org">findplants@example.org</a>

</div>

{% endblock %}
