<div class="row">
<div class="col-md-6">
<div class="card mb-3 article-card">
  <img src="{{ url_for('static', filename='images/dandelion.jpg') }}" class="card-img-top dandelion-img" alt="dandelion picture"
  width="200" height="200">

  <div class="card-body">
    <h5 class="card-title"> {{posts[0].title}} </h5>
    <p class="card-text">{{posts[0].content}}</p>
  </div>
</div>
</div>

<div class="col-md-6">
<div class="card mb-3 article-card">
  <img src="{{ url_for('static', filename='images/nettle.jpg') }}" class="card-img-top nettle-img" alt="nettle picture">
  <div class="card-body">
    <h5 class="card-title">{{posts[1].title}}</h5>
    <p class="card-text">{{posts[1].content}}</p>
  </div>
</div>
</div>


<div class="col-md-6">
<div class="card mb-3 article-card">
  <img src="{{ url_for('static', filename='images/calendula.jpg') }}" class="card-img-top caledula-img" alt="calendula picture">
  <div class="card-body">
    <h5 class="card-title">{{posts[2].title}}</h5>
    <p class="card-text">{{posts[2].content}}</p>
  </div>
</div>
</div>